{% extends "base_expectation.html" %}

{% block description %}
  I am expecting all the endpoints to have a different <code>NAME</code>.
{% endblock %}

{% block output_details %}
  <p>Found <b>{{ expectation.endpoints_in_error | length }}</b> endpoints with duplicate <code>NAME</code>.</p>

  {% if expectation.endpoints_in_error %}
  <table>
    <tr>
      <th>Endpoint <code>NAME</code></th>
    </tr>
    {% for ee in expectation.endpoints_in_error %}
    <tr>
      <td><code>{{ ee }}</code></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
