{% extends "base_expectation.html" %}

{% set expectation = expectations.all_c3_included_in_c3_cancer %}

{% block description %}
I am expecting all the <code>C3_</code> cancer endpoints to be in the <code>INCLUDE</code> chain of <code>C3_CANCER</code>.
{% endblock %}

{% block output_details %}
<p>
  Found <b>{{ expectation.n_errors }}</b> <code>C3_</code> cancer endpoints not in the <code>INCLUDE</code> chain of <code>C3_CANCER</code>.
</p>

{% if expectation.endpoints_in_error %}
<p>
  <code>C3_CANCER</code> includes {{ expectation.data.n_c3_cancer_all_descendants }} endpoints through its <code>INCLUDE</code> chain:
</p>
<ul>
  <li>{{ expectation.data.n_descendants_c3 }} of which are <code>C3_</code> cancer endpoints.</li>
  <li>
    {{ expectation.data.descendants_non_c3 | length }} of which are <i>not</i> <code>C3_</code> cancer endpoints:
    <ol>
    {% for ee in expectation.data.descendants_non_c3 %}
      <li><code>{{ ee }}</code></li>
    {% endfor %}
    </ol>
  </li>
</ul>

<p>
  {{ expectation.data.c3_missing_from_c3_cancer | length }} of the {{ expectation.data.n_c3_cancer_endpoints }} <code>C3_</code> cancer endpoints are missing from <code>C3_CANCER</code>:
</p>

<table>
  <tr>
    <th>Endpoint <code>NAME</code>
  <tr>

  {% for missing_c3 in expectation.data.c3_missing_from_c3_cancer %}
  <tr>
    <td><code>{{ missing_c3 }}</code></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
