{% extends "base_expectation.html" %}

{% set expectation = expectations.cancer_wide_have_hilmo_definition %}

{% block description %}
  I am expecting all cancer <code>_WIDE</code> endpoints to have a Hilmo definition.
{% endblock %}


{% block output_details %}
  <p>
    Found <b>{{ expectation.endpoints_in_error | length }}</b> cancer <code>_WIDE</code> endpoints without a Hilmo definition, and no Hilmo definition from endpoints in their <code>INCLUDE</code> chain either.
  </p>
  <p>I am checking the following columns for Hilmo codes:
    <code>HD_ICD_10</code>, <code>HD_ICD_9</code>, <code>HD_ICD_8</code>, <code>HD_ICD_10_EXCL</code>, <code>HD_ICD_9_EXCL</code>, <code>HD_ICD_8_EXCL</code>.
  </p>


  {% if expectation.endpoints_in_error %}
  <ol>
    {% for dd in expectation.data %}
    <li>
      <p><code>{{ dd.endpoint }}</code> has no Hilmo definition.</p>

      {% if dd.descendants %}
      <p>Endpoints in the <code>INCLUDE</code> chain:</p>
      <ol>
      {% for descendant in dd.descendants %}
        <li><code>{{ descendant }}</code> has no Hilmo definition.</li>
      {% endfor %}
      </ol>
      {% endif %}

    </li>
    {% endfor %}
  </ol>
  {% endif %}
{% endblock %}
