{% extends 'app.html' %}

{% block title %}
Report &bull; Endpoint Definition Checker
{% endblock %}

{% block content_main %}
<main>
    <div class="report-metadata">
        <article class="metadata">
            <h2>Report</h2>
            <div class="metadata-item">
                <p>File</p>
                <p class="utils-break-word">{{ file_name }}</p>
            </div>

            <div class="metadata-item">
                <p>Size</p>
                <p>{{ summary.n_columns }} columns × {{ summary.n_rows }} rows</p>
            </div>

            <div class="metadata-item">
                <p>Statuses</p>
                <div class="actions-quick-report">
                    <p><span>✅</span><span>{{ status_counts.all_good }}</span></p>
                    <p><span>⚠️</span><span>{{ status_counts.warning }}</span></p>
                    <p><span>🔴</span><span>{{ status_counts.fail }}</span></p>
                </div>
            </div>

            <div class="metadata-item">
                <p>Checked at</p>
                <p id="report-time">{{ run_datetime }}</p>
            </div>
        </article>

        <article class="metadata">
            <h2>Metadata</h2>
            <div class="metadata-item">
                <p>Control definitions?</p>
                <p>
                    {% if summary.has_control_definitions %}
                        Yes.
                    {% else %}
                        No.
                    {% endif %}
                </p>
            </div>

            <div class="metadata-item">
                <p>Core / non-core info?</p>
                <p>
                    {% if summary.has_core_info %}
                        Yes.
                    {% else %}
                        No.
                    {% endif %}
                </p>
            </div>

            <div class="metadata-item">
                <p><code>OMIT=1</code> endpoints?</p>
                <div>
                {% if summary.omit1_endpoints %}
                    <p>Yes, <button data-modal-target="dialog-omit1">{{ summary.omit1_endpoints | length }} endpoints</button>.</p>
                    <dialog id="dialog-omit1">
                        <button autofocus>Close</button>
                        <ul>
                        {% for endpoint in summary.omit1_endpoints %}
                            <li>
                                <code>{{ endpoint }}</code>
                            </li>
                        {% endfor %}
                        </ul>
                    </dialog>
                {% else %}
                    <p>No</p>
                {% endif %}
                </div>
            </div>

            <div class="metadata-item">
                <p><code>OMIT=2</code> endpoints?</p>
                <div>
                {% if summary.omit2_endpoints %}
                    <p>Yes, <button data-modal-target="dialog-omit2">{{ summary.omit2_endpoints | length }} endpoints</button>.</p>
                    <dialog id="dialog-omit2">
                        <button autofocus>Close</button>
                        <ul>
                        {% for endpoint in summary.omit2_endpoints %}
                            <li>
                                <code>{{ endpoint }}</code>
                            </li>
                        {% endfor %}
                        </ul>
                    </dialog>

                {% else %}
                    <p>No</p>
                {% endif %}
                </div>
            </div>

            <div class="metadata-item">
                <p><code>INCLAVO</code> endpoints?</p>
                <div>
                    {% if summary.inclavo_endpoints %}
                    <p>Yes, <button data-modal-target="dialog-inclavo">{{ summary.inclavo_endpoints | length }} endpoints</button>.</p>
                    <dialog id="dialog-inclavo">
                        <button autofocus>Close</button>
                        <ul>
                            {% for endpoint in summary.inclavo_endpoints %}
                                <li>
                                    <code>{{ endpoint }}</code>
                                </li>
                            {% endfor %}
                        </ul>
                    </dialog>
                    

                    {% else %}
                        <p>No</p>
                    {% endif %}
                </div>
            </div>
            
    
        </article>
    </div>

    <h2>Endpoint naming</h2>
    {% include 'expectation_name_duplicates.html' %}

    {% include 'expectation_name_complex.html' %}

    {% include 'expectation_name_any_exallc.html' %}

    {% include 'expectation_name_any_exmore.html' %}


    <h2>Definition codes</h2>
    {% include 'expectation_code_hd_cod_same_icd.html' %}


    <h2>Cancer <code>_WIDE</code></h2>
    {% include 'expectation_cancer_wide_has_basic_endpoint.html' %}

    {% include 'expectation_cancer_wide_same_cancer_definition.html' %}

    {% include 'expectation_cancer_wide_have_hilmo_definition.html' %}

    {% include 'expectation_cancer_wide_basic_have_no_hilmo_definition.html' %}

    {% include 'expectation_cancer_wide_same_control_definition.html' %}

    <h2><code>INCLUDE</code> chains</h2>
    {% include 'expectation_include_all_endpoints_exist.html' %}

    {% include 'expectation_include_endpoints_are_unique.html' %}
    
    {% include 'expectation_include_omit2.html' %}

    <h2>Comorbidities endpoints</h2>
    {% include 'expectation_comorb_omit2.html' %}
</main>

<script>
    const checks = document.querySelectorAll("[data-state-init]");

    const textShow = "Show details →";
    const textHide = "Hide details ↓";

    for (const cc of checks) {
        cc.addEventListener("click", (event) => {
            // Prevent triggering the open/close switch when clicking anywhere in the detailed output.
            if (event.target.closest(".output-details")) {
                return;
            }

            const action = cc.querySelector(".action-show-details");
            const output_preview = cc.querySelector(".output-preview");
            const output_details = cc.querySelector(".output-details");

            if (cc.dataset.stateCurrent != cc.dataset.stateInit) {
                action.innerText = textShow;

                cc.classList.remove("opened");
                cc.classList.add(cc.dataset.stateInit);

                output_preview.classList.remove("utils-hidden");
                output_details.classList.add("utils-hidden");

                cc.dataset.stateCurrent = cc.dataset.stateInit;
            } else {
                action.innerText = textHide;

                cc.classList.add("opened");
                cc.classList.remove(cc.dataset.stateInit);

                output_preview.classList.add("utils-hidden");
                output_details.classList.remove("utils-hidden");

                cc.dataset.stateCurrent = "opened";
            }
        });
    }
</script>

<script>
    const excelLinkNodes = document.querySelectorAll("[data-excel-file-b64]");

    for (const link of excelLinkNodes) {
        const b64 = link.dataset.excelFileB64;

        const byteChars = atob(b64);
        const length = byteChars.length;
        const bytes = new Uint8Array(length);

        for (let i = 0; i < length; i++) {
            bytes[i] = byteChars.charCodeAt(i);
        }

        const blob = new Blob([bytes.buffer], {
            type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        });
        const url = URL.createObjectURL(blob);

        link.href = url;
        link.download = link.dataset.excelFileName;
    }
</script>

<script>
const modalButtons = document.querySelectorAll("[data-modal-target]");

for (const button of modalButtons) {
    const dialog = document.getElementById(button.dataset.modalTarget);

    button.addEventListener("click", () => {
       dialog.showModal();
    });

    const closeButton = dialog.querySelector("button:first-child");
    closeButton.addEventListener("click", () => {
       dialog.close(); 
    });
}
</script>
{% endblock %}
